
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    display:flex;
}

h1{
    color: aliceblue;
    font-weight: bolder;
    font-size: xx-large;   
}